<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reboot Planner</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

    <div class="ui container">
        @Html.React("Menu", new { activeMenuItem = ViewBag.Title })
        @RenderBody()
        <hr />
        @Html.React("Footer", new { })
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.js"></script>
    <script src="@Url.Content("~/Scripts/templates/menu.jsx")"></script>
    <script src="@Url.Content("~/Scripts/templates/footer.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>